@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: cadetblue;
  background-color: rgb(240, 240, 241);
}

#header {
  font-family: "Mulish", sans-serif;
  font-size: 0.8rem;
  background-color: rgba(7, 7, 7, 0.9);
  padding: 15px;
  color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#top_nav ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
  position: sticky;
  overflow: hidden;
  top: 0;
  background: rgb(164, 6, 243);
  background: linear-gradient(95deg, rgb(136, 3, 202) 100%);
  border-top: 1px solid whitesmoke;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
ul li {
  display: inline-block;
}
.active {
  background-color: rgb(29, 29, 29);
}

ul li a {
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  box-sizing: border-box;
}

.right {
  margin-right: 50px;
  float: right;
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  padding: 20px 20px;
}
li a:hover {
  background-color: rgb(29, 29, 29);
}
div.content {
  width: 75%;
  padding: 20px 20px 5px 20px;
  float: left;
  min-height: 5%;
  background-color: rgb(240, 240, 241);
}
div h2 {
  padding-bottom: 21px;
  color: blueviolet;
}
div p {
  padding-bottom: 20px;
}
div.sidebar {
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  width: 25%;
  float: right;
  border-radius: 5px;
  background: rgb(164, 6, 243);
  background: linear-gradient(
    95deg,
    rgba(164, 6, 243, 1) 16%,
    rgba(155, 0, 233, 1) 76%
  );
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-top: 1px solid whitesmoke;
}

div.sidebar a {
  padding: 15px;
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: left;
}
div.sidebar a:hover:not(a.active) {
  background-color: rgb(29, 29, 29);
  border-top: 1px solid whitesmoke;
  color: white;
}
div#footer {
  font-family: "Mulish", sans-serif;
  background-color: rgba(7, 7, 7, 0.9);
  padding: 15px;
  color: white;
  text-align: center;
  clear: both;
  vertical-align: middle;
}

@media screen and (max-width: 625px) {
  ul li {
    display: block;
    text-align: center;
  }
  ul li a {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1rem;
  }
  ul li a:hover:not(.active) {
    border-top: 1px solid whitesmoke;
  }
  .right {
    float: none;
    text-align: center;
    margin: 0;
    margin-left: 15px;
  }
  div.sidebar {
    float: none;
    width: 100%;
    min-height: auto;
  }
  div.sidebar a {
    width: 100vh;
    text-align: center;
    font-size: 1rem;
  }
  div.content {
    float: none;
    width: 100%;
    padding: 10px 10px;
  }
}
@media screen and (max-width: 625px) {
  #header {
    font-size: 0.5rem;
  }
}
